.body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(46, 46, 184);
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#dashboard-text{
    color: white;
    font-size: 30px;
    font-family: 'Rubik','Nunito Sans', sans-serif;
    margin-left: 40%;
}
.search{
    width: 20%;
    margin-top: 2%;
    margin-left: 10px;
    
}
.search-text{
    font-family: 'Rubik','Nunito Sans', sans-serif;
    font-size: 30px;
    margin-left: 1px;
}
.city-buttons button{
    display: block;
    margin-bottom: 15px;
    width: 20%;
    background-color: gray;
    margin-left: 10px;

}
.city-buttons{
    margin-top: 15px;
}
.search-btn{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background-color: rgb(46, 46, 184);
    margin-right: 8px;
    color: white;
    margin-top: 5%;
}
.card {
    position: absolute;
    top: 12%;
    right: 1%;
  }
.temp-info {
    display: block;
    margin: 10px;
    margin-left: 0%;
    color: white;
}
.card-title {
    font-family: 'Rubik','Nunito Sans', sans-serif;
    font-size: 30px;
}
.day-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -350px;
    margin-right: 290px;
  }
  
  .day-section-title {
    text-align: center;
    color: black;
    margin-right: 30px;

  }
  
  .day-card-container {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  
  .day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    margin: 10px;
    background-color: rgb(97, 94, 94);
  }
  
  .day-card-day {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
  }

  